<!DOCTYPE html>
<html lang="en" xml:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li th:each="dto, state:${list}">
        [[${#numbers.formatInteger(state.index, 2)}]]
        <a th:href="@{/sample/exView/{sno1}(sno1=${dto.sno},sno=${dto.sno})}">
            [[${dto}]]
        </a>
    </li>
</ul>

<ul>
    <li th:each="dto, state:${list}">
        [[${#numbers.formatInteger(state.index, 2)}]] -- [[${#temporals.format(dto.regTime, 'yyyy/MM/dd')}]]
    </li>
</ul>
</body>
</html>