<!DOCTYPE html>
<link rel="stylesheet" href="https://unpkg.com/mvp.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>공부 기록</title>
</head>
<body>
<h1 th:text="${userName}"></h1>

<div th:if="${todayStudyTotal != null}">
    <h2>오늘 공부 시간</h2>
    <p th:class="${todayStudyTotal<=wantStudyTotal}? 'low-studyTime'"
       th:text="${todayStudyTotal>=60}? ${todayStudyTotal / 60}+' 시간 '+${todayStudyTotal % 60}+' 분': ${todayStudyTotal}+' 분'"></p>
</div>

<div th:if="${weekList != null}">
    <h2>이번주</h2>
    <p th:each="studyTotal : ${weekList}">
        <span th:text="${studyTotal.date}"></span>/ <span th:text="${studyTotal.studyTime}"></span>분
    </p>
</div>

<div>
    <h2>공부 기록</h2>
    <canvas id="totalHistory" style="height:30vh; width:50vw"></canvas>
</div>

<script>

</script>



</body>
</html>

<script th:inline="javascript">
    allList = [[${allList}]]
    dates = []
    studyTimes = []
    allList.forEach(list => {
        dateArr = list.date.split('-')
        date = dateArr[1].concat('-', dateArr[2]) // 년 제거하기 위해

        dates.push(date)
        studyTimes.push(list.studyTime)
    });

    const ctx = document.getElementById('totalHistory').getContext('2d');
    const totalHistoryChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dates,
            datasets: [{
                label: [[ ${userName} ]],
                data: studyTimes,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',

                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x:{
                    title:{
                        display: true,
                        text: '일 자'
                    }

                },
                y: {
                    title:{
                        display: true,
                        text: '분',
                        beginAtZero: true
                    },
                    ticks:{
                      stepSize: 60,
                    }
                }
            },
            plugins:{
                legend:{

                }
            }
        }
    });
</script>

<style>
    .low-studyTime {
        color: #ff0000;
        font-weight: bold;
        font-size: medium;
    }
</style>